/*Generics*/
.label{
    -fx-text-fill: #e8e8e8;
    /*-fx-font-family: beon;*/
    -fx-font-size: 25;
}
.button{
    -fx-background-color: #ff8800; /*#AB4642;*/
    -fx-text-fill: #000000;
    -fx-font-style: italic;
    -fx-font-size: 20;
    -fx-background-radius: 4;
}
.button:hover{
    -fx-text-fill: #ffffff;
    -fx-font-style: oblique;
    /*-fx-font-weight: bold;*/
    -fx-background-color: #0288D1;
}
/*For In-Game Menu*/
.anchorpane#pauseMenu{
    -fx-background-image:url("/bg/pauseScreenBG.png");
}
.label#pauseMenuTitle{
    -fx-text-fill: #ffc700;
    -fx-font-family: beon;
    -fx-font-size: 45;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #ff0000, 10, 0.5, 0, 0);
}
.anchorpane#inventoryMenu{
    -fx-background-image:url("/bg/inventoryScreenBG.png");
}
.label#inventoryMenuTitle{
    -fx-text-fill: #ffffff;
    -fx-font-family: beon;
    -fx-font-size: 50;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #ff0000, 10, 0.5, 0, 0);
}
.label#itemEquippedLabel{
    -fx-text-fill: #ffffff;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
.anchorpane#confirmationMenu{
    -fx-background-image:url("/bg/confirmationScreenBG.png");
}
.label#confirmationMenuTitle{
    -fx-text-fill: #ffffff;
    -fx-font-family: beon;
    -fx-font-size: 25;
    -fx-effect: dropshadow(gaussian, #00ff00, 10, 0.5, 0, 0);
}
.button#confirmationMenuButton{
    -fx-font-size: 15;
}
.anchorpane#optionsMenu{
    -fx-background-image:url("/bg/optionsScreenBG.png");
}
.label#optionsMenuTitle{
    -fx-text-fill: #ffffff;
    -fx-font-family: beon;
    -fx-font-size: 50;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #ffaa00, 10, 0.5, 0, 0);
}
.anchorpane#saveMenu{
    -fx-background-image:url("/bg/saveScreenBG.png");
}
.label#saveMenuTitle{
    -fx-text-fill: #ffffff;
    -fx-font-family: beon;
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #ff00ff, 10, 0.5, 0, 0);
}
.button#saveMenuButton{
    -fx-font-size: 12;
}
/*For HUD*/
.progress-bar {
    -fx-background-color: yellow;
    -fx-background-radius: 10, 10, 10, 10;

}

.progress-bar .track{
    -fx-background-color: green;
    -fx-background-insets: 20;
    -fx-background-radius: 6, 6, 6, 6;
}

.progress-bar .bar {
    -fx-background-color: grey;
    -fx-background-insets: 30, 30, 30, 30;
    -fx-background-radius: 4, 4, 4, 4;
}

.progress-bar#healthBar {
    -fx-background-color: yellow;
    -fx-background-radius: 10, 5, 5, 10;

}
.progress-bar#healthBar > .track{
    -fx-background-color: green;
    -fx-background-insets: 10;
    -fx-background-radius: 6, 6, 6, 6;
}
.progress-bar#healthBar > .bar {
    -fx-background-color: red;
    -fx-background-insets: 12, 12, 12, 12;
    -fx-background-radius: 4, 4, 4, 4;
}

.progress-bar#energyBar {
    -fx-background-color: black;
    -fx-background-radius: 5, 5, 5, 5;

}
.progress-bar#energyBar .track{
    -fx-background-color: blue;
    -fx-background-insets: 10;
    -fx-background-radius: 6, 6, 6, 6;
}
.progress-bar#energyBar .bar {
    -fx-background-color: grey;
    -fx-background-insets: 30, 30, 30, 30;
    -fx-background-radius: 4, 4, 4, 4;
}
/*For Title Screen*/
.root{
    -fx-background-image:url("/bg/titleScreenBG.png");
}
.label#creditsInfo{
    -fx-text-fill: #e8e8e8;
    -fx-font-family: Serif;
    -fx-font-size: 20;
}
.label#tutorialTitle{
    -fx-text-fill: #ff8800;
    -fx-font-family: beon;
    -fx-font-size: 40;
}
.label#tutorialHeading{
    -fx-text-fill: #ffc000;
    -fx-font-family: Sans Serif;
    -fx-font-size: 20;
}
.label#tutorialInfo{
    -fx-text-fill: #ffccaa;
    -fx-font-family: System;
    -fx-font-size: 15;
}
.label#mainMenuTitle{
    -fx-text-fill:#74d5ff/*#7cafc2*/;
    -fx-font-family: beon;
    -fx-text-alignment:center;
    -fx-label-padding: 0 0 0 0;
    -fx-font-size: 200;
    -fx-effect: dropshadow(gaussian, #74d5ff, 10, 0, 0, 0);
}
.label#creditsTitle{
    -fx-text-fill:#7cafc2;
    -fx-font-family: beon;
    -fx-text-alignment:center;
    -fx-label-padding: 0 0 0 0;
    -fx-font-size: 100;
    -fx-effect: dropshadow(gaussian, #74d5ff, 10, 0, 0, 0);
}
.label#highScoreTitle{
    -fx-text-fill:#74d5ff/*#7cafc2*/;
    -fx-font-family: beon;
    -fx-text-alignment:center;
    -fx-label-padding: 0 0 0 0;
    -fx-font-size: 150;
    -fx-effect: dropshadow(gaussian, #ffffff, 10, 0, 0, 0);
}
.label#highScoreHeading{
    -fx-text-fill:#ff8800;
    -fx-font-family: beon;
    -fx-text-alignment:center;
    -fx-label-padding: 0 0 0 0;
    -fx-font-size: 40;
}
.menulabel{
    -fx-text-fill: #ffc700;
    -fx-font-family: beon;
    -fx-font-size: 30;
    -fx-font-style: italic;
}
.menulabel-clicked{
    -fx-text-fill:#ff8800;
    -fx-font-family: beon;
    -fx-font-size: 50;
    -fx-label-padding: 0 0 0 0;
}
.menulabel:hover{
    -fx-text-fill:#ff0000;
    -fx-label-padding: 0 0 0 15;
}
.submenu{
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 30;
}
.submenu-label{
    -fx-text-fill: #11d725;
    -fx-font-family: beon;
    -fx-font-size: 25;
    /*
    11d7d7 - Dark turqoise?
    11D725 - A sort of green
    00ffff - Literally turqoise
    ffe200 - Brighter yellow
    */
}
.submenu-label:hover{
    -fx-text-fill: #ff0000;
}

/*
Table view stuff ripped from here:
https://stackoverflow.com/questions/33938811/styling-a-tableview-in-css-javafx
*/

.table-view{
   -fx-background-color: grey;
}

.table-view:focused{
    -fx-background-color: grey;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}