.root{
    -fx-background-image:url("../bg/titleScreenBG.png");
}
.label{
    -fx-text-fill: #e8e8e8;
    -fx-font-family: beon;
    -fx-font-size: 20;
}
.label-heading{
    -fx-text-fill: #e8e8e8;
    -fx-font-family: beon;
    -fx-font-size: 35;
    -fx-font-weight: bold;
}
.menulabel{
    -fx-text-fill: #ffc700;
    -fx-font-family: beon;
    -fx-font-size: 30;
    -fx-font-style: italic;
}
.menulabel:hover{
    -fx-text-fill:#ff0000;
    -fx-label-padding: 0 0 0 15;
}
.title{
    -fx-text-fill:#74d5ff/*#7cafc2*/;
    -fx-font-family: beon;
    -fx-text-alignment:center;
    -fx-label-padding: 0 0 0 0;
    -fx-font-size: 200;
    -fx-effect: dropshadow(gaussian, #74d5ff, 10, 0, 0, 0);
}
.title-highscore{
    -fx-text-fill:#74d5ff/*#7cafc2*/;
    -fx-font-family: beon;
    -fx-text-alignment:center;
    -fx-label-padding: 0 0 0 0;
    -fx-font-size: 150;
    -fx-effect: dropshadow(gaussian, #ffffff, 10, 0, 0, 0);
}
.button{
    -fx-background-color: #ffc700;/*#AB4642;*/
    -fx-text-fill: #000000;
    -fx-background-radius: 4;
}
.button:hover{
    -fx-background-color: #7cafc2;
}
.button-blue{
    -fx-background-color: #7cafc2;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
}